# Created by .ignore support plugin (hsz.mobi)
### rwk template

*#
*~
*.bak
.DS_Store
.Thumbs.db
\#*
.save
.tmp
tmp/
out
*.map
*.log
log
stdout
stderr
*.orig

public/bundle.*
.env
.env.build
build/

/*-report.html
node_modules
/build
/dist
/docs/v*
/docs/local
/docs/index.html
/lib
/devtools/build
/devtools/dist
/devtools/lib
/config/build
/config/dist
/config/lib
!.gitignore


# Common editor settings helpful for sharing across users and IDEs
!/.editorconfig

#.*
/.rpt2_cache

/.idea/workspace.xml
